* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background: black;
  color: white;
  
}


header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 5vw;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  font-size: 2vw;
  padding: 0;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}

.search {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

.search button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search button:hover {
  background-color: #777;
}

section {
  margin: 50px;
  text-align: center;
}
img{
  width: 100%;
}